<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IntelliSense |  Our Blog</title>
    <link id='favicon' rel="shortcut icon" href="assets/images/logo.png" type="image/x-png">
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <body>
    <section class="sub-header">
      <nav>
        <a href="index.html"><img src="/static/assets/images/logo.png" alt="IntelliSense logo" class="logo-img"></a>
        <span class="logo-text">IntelliSense</span>
        <div class="nav-links" id="navLinks">
          <i class="fa-solid fa fa-xmark" onclick="hideMenu()"></i>
          <ul>
            <li><a href="./index.html">HOME</a></li>
            <li><a href="./about.html">ABOUT</a></li>
            <li><a href="./course.html">COURSE</a></li>
            <li><a href="./blog.html">BLOG</a></li>
            <li><a href="./contact.html">CONTACT</a></li>
            <li><a href="./project.html">PROJECT</a></li>

          </ul>
        </div>
        <i class="fa-solid fa fa-bars" onclick="showMenu()"></i>
        <button id="theme-toggle" class="toggle-button">🌞 Day/Night Mode 🌙</button>
      </nav>
      <h1>Our Learning Programs and Certifications | 2023-24 </h1>
    </head>
    </section>

    <!--blog page content-->

    <section class="blog-content">
      <div class="row">
        <div class="blog-left">
          <img src="/static/assets/images/certifications.png" alt="certifications" height="475px" width="490px">
          <h2>Embrace the future with our learning programs and certifications.</h2>
          <h4> In a world that's always evolving, learning is your secret weapon. At IntelliSense, we're thrilled to offer you learning programs and certifications that will supercharge your career.</h4>
          <br>
          <h4> Why Choose Us?</h4>
          <br>
          <p>Our learning programs and certifications are designed to help you acquire the skills you need to succeed in today's economy. We offer a wide range of courses, from beginner to advanced, and we're always adding new ones. Our instructors are experts in their fields, and they're passionate about teaching. We also offer a variety of learning formats, including online courses, in-person classes, and self-paced learning. And we're constantly updating our content to keep up with the latest trends and technologies.</p>
          <br>
          <h4> Our Learning Programs</h4>
          <br>
          <ul>
            <p> <b>Artificial Intelligence</b> - Learn how to build intelligent systems that can learn from experience, adapt to new situations, and perform tasks that would otherwise require human intelligence.</p>
            <p> <b> Cloud Computing</b> - Learn how to build and deploy applications in the cloud.</p>
            <p> <b> Data Science</b> - Learn how to use data to make better decisions.</p>
            <p> <b> Machine Learning</b> - Learn how to build intelligent systems that can learn from experience, adapt to new situations, and perform tasks that would otherwise require human intelligence.</p>
            <p> <b> Deep Learning</b> - Learn how to build intelligent systems that can learn from experience, adapt to new situations, and perform tasks that would otherwise require human intelligence.</p
          </ul>
          <br>
          <h4> Our Certifications</h4>
          <br>
            <ul>
            <p> <b> AI Engineer</b> - Learn how to build intelligent systems that can learn from experience, adapt to new situations, and perform tasks that would otherwise require human intelligence.</p>
            <p> <b> Cloud Architect</b> - Learn how to build and deploy applications in the cloud.</p>
            <p> <b> Data Scientist</b> - Learn how to use data to make better decisions.</p>
            <p> <b> Machine Learning Engineer</b> - Learn how to build intelligent systems that can learn from experience, adapt to new situations, and perform tasks that would otherwise require human intelligence.</p>
            <p> <b> Deep Learning Engineer</b> - Learn how to build intelligent systems that can learn from experience, adapt to new situations, and perform tasks that would otherwise require human intelligence.</p>
          </ul>
          <div class="comment-box">
            <h3>Leave A Comment</h3>
            <form action="" id="comment-form" class="comment-form">
              <input type="text" name="name" placeholder="Enter Your Name" id="name" class="name" required>
              <input type="email" name="email" placeholder="Enter Email" id="email" class="email" required>
              <textarea rows="8" name="comment" placeholder="Your comment/feedback here" id="comment" class="comment" required></textarea>
              <button type="submit" id="submit" class="hero-btn red-btn">Post Comment</button>
            </form>
          </div>
        
        
        
        </div>
        <div class="blog-right">
          <h3>Post Categories</h3>
          <div>
            <span>Mathematics</span>
            <span>11</span>
          </div>
          <div>
            <span>Science</span>
            <span>8</span>
          </div>
          <div>
            <span>Social Studies</span>
            <span>9</span>
          </div>
          <div>
            <span><b>Technology & Computer Science</b></span>
            <span>15</span>
          </div>
          <div>
            <span>Physical Education & Sports</span>
            <span>6</span>
          </div>
          <div>
            <span>Fine Arts</span>
            <span>7</span>
          </div>
          <div>
            <span>Language & Literature</span>
            <span>10</span>
          </div>
        </div>
      </div>
    </section>


    <!--end-->


    <section class="footer">
      <h3>About Us</h3>
      <p style="text-align: center; font-size: medium;">At IntelliSense, we revolutionize classrooms with smart surveillance and attendance tracking for a secure and seamless learning experience.
        <br>
        We are constantly working to improve our product and make it more accessible to students and teachers, also efforts are to make it more innovative and user friendly. We are also working on adding more features to our product to make it more useful for students and teachers. 
      </p>
      <div class="icons">
        <a href="https://www.facebook.com/people/IntelliSense/61553870459494" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://twitter.com/IntelliSenseCo" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.instagram.com/intellisenseco" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.youtube.com/@IntelliSenseCo" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://github.com/IntelliSenseCo" target="_blank"><i class="fa-brands fa-github"></i></a>
      </div>
      <p>Made With <i class="fa-solid fa-heart"></i> by Team IntelliSense</p>
    </section>

    <script src="/static/assets/js/navbar.js"></script>
    <script src="/static/assets/js/button.js"></script>
    <script src="/static/assets/js/script.js"></script>
    <script type="module" src="/static/assets/js/comment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase.js"></script>

    <script>
      document.addEventListener('contextmenu', event => event.preventDefault());
      document.addEventListener('copy', event => event.preventDefault());
      document.addEventListener('select', event => event.preventDefault());
      document.onkeydown = function(e) {
          if (e.ctrlKey && 
              (e.keyCode === 67 || 
               e.keyCode === 85 || 
              e.keyCode === 117 ||
              e.keyCode === 83 ||
              e.keyCode === 123 || 
              e.keyCode == 86 || 
              e.keyCode == 190 || 
              e.keyCode === 73 )) {
              alert('Apologies for the prevention! Certain keys are off-limits to ensure a better experience.');
             return false;
          } else {
              return true;
          }
      };
    
      document.addEventListener('contextmenu', event => {
          alert('Thanks for visiting! Right-click is disabled to enhance your browsing experience. Use the menu to discover more');
     });
    </script>
    
  </body>
</html>
