<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IntelliSense | Courses</title>
    <link id='favicon' rel="shortcut icon" href="/static/assets/images/logo.png" type="image/x-png">
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <body>
    <section class="sub-header">
      <nav>
        <a href="index.html"><img src="assets/images/logo.png" alt="IntelliSense logo" class="logo-img"></a>
        <span class="logo-text">IntelliSense</span>
        <div class="nav-links" id="navLinks">
          <i class="fa-solid fa fa-xmark" onclick="hideMenu()"></i>
          <ul>
            <li><a href="./index.html">HOME</a></li>
            <li><a href="./about.html">ABOUT</a></li>
            <li><a href="./course.html">COURSE</a></li>
            <li><a href="./blog.html">BLOG</a></li>
            <li><a href="./contact.html">CONTACT</a></li>
            <li><a href="./project.html">PROJECT</a></li>

          </ul>
        </div>
        <i class="fa-solid fa fa-bars" onclick="showMenu()"></i>
        <button id="theme-toggle" class="toggle-button">🌞 Day/Night Mode 🌙</button>
      </nav>
      <h1>Our Courses</h1>
    </section>

   <!--course-->

   <section class="course">
    <h1>Courses We Offer</h1>
    <p>Explore our wide range of courses for all levels of learners.</p>
    <div class="row">
      <div class="course-col">
        <h3>Noivce</h3>
        <p>This course is tailored for novices eager to explore the fundamentals. Delving into key concepts and essential skills, participants will receive a comprehensive introduction to the subject matter. Through a carefully structured curriculum, practical exercises, and real-world examples, students will establish a robust foundation, laying the groundwork for future proficiency.
        </p>
      </div>
      <div class="course-col">
        <h3>Proficient</h3>
        <p>Designed for those who are at the proficent level, this course is a journey from foundational knowledge to advanced mastery. Participants will engage with advanced techniques, industry best practices, and practical applications. Hands-on projects and case studies will deepen their understanding, enabling them to tackle complex challenges. Ideal for professionals seeking to enhance their proficiency, this course empowers participants to excel in their respective fields.
        </p>
      </div>
      <div class="course-col">
        <h3>Grand Master</h3>
        <p>For seasoned experts, this course focuses on refining expertise and fostering innovation. Participants will explore expert strategies, industry trends, and cutting-edge innovations. Through advanced projects and collaborative endeavors, students will hone their skills to a grandmaster level. This course is tailored for professionals aiming to lead in their field, leveraging their deep expertise to drive innovation and success.
        </p>
      </div>
    </div>
  </section>

  <!----- facitlities------->

  <section class="facilities">
    <h1>Our Facilities</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <div class="row">
      <div class="facilities-col">
        <img src="assets/images/classroom.png" alt="" height="290px"/>
        <h3>Modern Classrooms and Training Rooms</h3>
        <p>Our learning environments are designed to facilitate effective knowledge transfer. Modern classrooms equipped with revolutionary attendance tracking technology, and training rooms with state-of-the-art facilities, ensure a seamless learning experience.
        </p>
      </div>
      <div class="facilities-col">
        <img src="assets/images/basketball.png" alt="" height="290px"/>
        <h3>Fitness and Wellness Facilities</h3>
        <p>Recognizing the importance of well-being, our facilities include fitness and wellness areas. These spaces are dedicated to promoting physical health and mental well-being, providing an opportunity for our community to recharge and stay energized.</p>
      </div>
      <div class="facilities-col">
        <img src="assets/images/lab.jpeg" alt="" height="290px"/>
        <h3>Well-Equipped Laboratories</h3>
        <p>For those engaged in hands-on experimentation and research, our well-equipped laboratories offer the perfect space. With cutting-edge instrumentation and a commitment to safety, our labs provide an ideal setting for scientific exploration and discovery.
        </p>
      </div>
    </div>
  </section>

<!--end facilities-->

<section class="footer">
  <h3>About Us</h3>
  <p style="text-align: center; font-size: medium;">At IntelliSense, we revolutionize classrooms with smart surveillance and attendance tracking for a secure and seamless learning experience.
    <br>
    We are constantly working to improve our product and make it more accessible to students and teachers, also efforts are to make it more innovative and user friendly. We are also working on adding more features to our product to make it more useful for students and teachers. 
  </p>
  <div class="icons">
    <a href="https://www.facebook.com/people/IntelliSense/61553870459494" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://twitter.com/IntelliSenseCo" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.instagram.com/intellisenseco" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.youtube.com/@IntelliSenseCo" target="_blank"><i class="fa-brands fa-youtube"></i></a>
    <a href="https://github.com/IntelliSenseCo" target="_blank"><i class="fa-brands fa-github"></i></a>
  </div>
  <p>Made With <i class="fa-solid fa-heart"></i> by Team IntelliSense</p>
</section>

    <script src="/static/assets/js/navbar.js"></script>
    <script src="/static/assets/js/button.js"></script>
    <script>
      document.addEventListener('contextmenu', event => event.preventDefault());
      document.addEventListener('copy', event => event.preventDefault());
      document.addEventListener('select', event => event.preventDefault());
      document.onkeydown = function(e) {
          if (e.ctrlKey && 
              (e.keyCode === 67 || 
               e.keyCode === 85 || 
              e.keyCode === 117 ||
              e.keyCode === 83 ||
              e.keyCode === 123 || 
              e.keyCode == 86 || 
              e.keyCode == 190 || 
              e.keyCode === 73 )) {
              alert('Apologies for the prevention! Certain keys are off-limits to ensure a better experience.');
             return false;
          } else {
              return true;
          }
      };
    
      document.addEventListener('contextmenu', event => {
          alert('Thanks for visiting! Right-click is disabled to enhance your browsing experience. Use the menu to discover more');
     });
    </script>
  </body>
</html>
